
.slider {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.slides {
    display: flex;
    animation: slideAnimation 24s steps(6, end) infinite;
    width: calc(6 * 100%);
}

.slides img {
    width: calc(100% / 6);
    flex-shrink: 0;
    object-fit: cover;
    height: 400px;
}

@keyframes slideAnimation {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100%));
    }
}

.dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.dot {
    width: 12px;
    height: 12px;
    margin: 0 6px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #ddd;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: #333;
    border: 1px solid #333;
}

.video-section .video-description {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.video-section .video-description h2 {
    font-family: 'Lobster Two';
    font-size: 2.2em;
    font-weight: normal;
    margin-bottom: 10px;
}

.video-section .video-description p {
    font-family: 'Roboto';
    font-size: 1.1em;
    line-height: 1.5;
}

.video-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #000;
    margin: 40px 0;
}

.video-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    gap: 20px;
}

video {
    max-width: 60%;
    height: auto;
    border-radius: 8px;
}

.video-description {
    max-width: 40%;
    padding: 20px;
    background-color: #222;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    color: #fff;
}

.video-title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 15px;
    color: #f39c12;
    font-family: 'Playfair Display', serif;
    text-align: center;
}

.video-text {
    font-size: 1.1em;
    line-height: 1.6;
    color: #ddd;
}

@media (max-width: 768px) {
    .video-container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    video {
        max-width: 100%;
    }

    .video-description {
        max-width: 100%;
        text-align: center;
    }

    .video-title {
        font-size: 1.8em;
    }

    .video-text {
        font-size: 1em;
    }
}
